<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title> 

     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/blog-home.css" rel="stylesheet" />
  </head>

  <body>

  <%= render '/layouts/nav' %>
 
    <div class="container">
      <%= notice %>
      <%= alert %>

      <%= yield %>
    </div>

     <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>


  </body>
</html>
